/* إضافة تنسيقات للجدول */
#prayer-times {
    margin: 20px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#prayer-times table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

#prayer-times th, #prayer-times td {
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    text-align: center;
}

#prayer-times th {
    background-color: rgba(0, 0, 0, 0.3);
    font-weight: bold;
}

/* تنسيق دعاء اليوم */
#dua {
    margin: 20px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#daily-dua {
    font-size: 1.2em;
    font-style: italic;
    color: #f1c40f;
  }
